.settings-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.settings-container {
	width: rem(540px);
	height: 470px;
	background-color: $white;
	border-radius: rem(25px);
	position: relative;
	@include breakpoint-mobile {
		width: 90%;
		height: rem(660px);
	}
	.title {
		padding: rem(20px) rem(40px);
		border-bottom: 2px solid $dark-white;
		h2 {
			color: $dark-main;
		}
		img {
			height: 15px;
			cursor: pointer;
		}
	}
	.selection {
		padding: rem(30px) rem(40px);
		justify-content: space-between;
		align-items: center;
	}
	.options-container {
		.option {
			background-color: $dark-white;
			width: 40px;
			height: 40px;
			margin-left: 16px;
			text-align: center;
			line-height: 40px;
			border-radius: 50%;
			transition: 0.3s ease-in;
			position: relative;
			cursor: pointer;
		}
		.font.selected {
			background-color: $dark-main;
			color: $white;
		}
		.color.selected::after {
			content: '\2713';
			width: 100%;
			height: 100%;
			background-color: transparent;
			color: $dark-main;
			position: absolute;
			top: 2px;
			transform: translateX(-50%);
		}
	}
	.mode-minutes {
		padding: rem(30px) rem(40px);
		@include breakpoint-mobile {
			h3 {
				text-align: center;
			}
		}
	}
	.minutes-selector {
		margin-top: 22px;
		margin-left: 2px;
		.time-option {
			.mode-name {
				color: #1e213f80;
				margin-bottom: 8px;
			}
			.amount {
				width: rem(140px);
				height: rem(48px);
				background-color: $dark-white;
				border-radius: 10px;
				padding: rem(20px) rem(15px);
			}
			.adjust-time img {
				padding: rem(5px) 0;
				cursor: pointer;
			}
			@include breakpoint-mobile {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
			}
		}
		@include breakpoint-mobile {
			flex-direction: column;
		}
	}
	.btn-apply {
		background-color: $peach;
		width: rem(140px);
		height: rem(50px);
		border-radius: 25px;
		color: $white;
		filter: brightness(0.8);
		transition: 0.2s ease;
		font-family: 'Kumbh Sans';
		position: absolute;
		bottom: -16px;
		left: 50%;
		transform: translateX(-50%);
		&:hover {
			filter: brightness(1);
		}
	}
}

.fade-enter {
	opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
	transition: 0.2s ease-in-out;
}
.fade-leave-to {
	opacity: 0;
}
