// COLOR PALETTE

$main: #1e213f;
$dark-main: #161932;
$peach: #f87070;
$light-blue: #70f3f8;
$light-purple: #d881f8;
$light-grey: #d7e0ff;
$white: #ffffff;
$dark-white: #eff1fa;

// LAYOUT BREAKPOINTS

$break-mobile: 560px;
$break-tablet: 760px;
$break-wide: 1100px;
